ion-button {
    --background: #29313b;
    --background-hover: #32383f;
    --background-activated: #32383f;
    --background-focused: #32383f;

    --border: none !important;
    --border-radius: 9999px !important;
  
    --ripple-color: #32383f;
}